* {
    box-sizing:border-box;
  }

  @font-face{
    font-family: fontcakep;
    src: url('../image/Poppins-Regular.ttf');
  }
  
  body {
    margin: 0;
    font-family: fontcakep;
    color: #082E48;
  }
  
  /* Style the header */
  .header {
    background-image: url('header.png');
    padding: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #082E48;
    margin-left: 63%;
    border-radius: 10px;
  }
  
  /* Style the topnav links */
  .topnav a {
    float:right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 14%;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .row{
    margin-top: 20px;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
    padding-left: 2%;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
    border-radius: 20px;
    padding: 0px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 20px;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
  
  /* Style the footer */
  .footer {
    background-color: #082E48;
    padding: 10px;
    text-align: center;
    color: white;
  }

  .indent{
    text-indent: 0.5in;
    text-align: justify;
  }

  .gbartis{
    width: 80%;
  }

  .tbold{
    font-weight: bold;
  }

  .column.side p{
    background-color:#E8C29D;
    padding: 10px 10px;
    border-radius: 10px;
  }

  .column.side p:hover{
    background-color:#082E48;
    color: white;
  }

  img:hover{
    width: 90%;
  }