@font-face{
    font-family: fontcakep;
    src: url('../image/Poppins-Regular.ttf');
}
p{
    color: royalblue;
    text-align: justify;
    font-family: fontcakep, calibri, verdana, comic sans, tahoma;
    font-size: 12pt;
}
body{
    background-color: khaki;
    background-image: url('../image/logo.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    margin: 0cm 3cm;
}
hr{
    border-width: 1px;
    border-color: maroon;
    border-style: dashed;
}
fieldset, legend{
    border: skyblue groove 10px;
    font-family: fontcakep;
    color: darkblue;
}
legend{
    padding: 10px;
    background-color: white;
    font-size: 14pt;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
}
/* ol{
    background-color: white;
    border-radius: 10px;
} */
ul.jago{
    list-style-image: url('../image/musik.gif');
}
ul{
    list-style-image: url('../image/nyanyi.gif');
}
ol.jago{
    list-style-image: url('../image/musik.gif');
}
ol.biasa{
    background-color: red;
    list-style:circle;

}

/* pseudo class serta id & class */

#menu{
    text-align: center;
    font-family: fontcakep;
    margin: 15px 0px;
}
a.item{
    text-decoration: none;
    font-size: 16pt;
    color: maroon;
    border: white solid 3px;
    padding: 5px;
    background: grey;
}
a.item:hover{
    text-decoration: none;
    font-size: 16pt;
    color: rgb(14, 203, 17);
    border: white solid 3px;
    padding: 5px;
    background: yellow;
}
p.p3:first-letter{
    color: red;
    font-size: 30pt;
    font-weight: bold;
    font-family: roboto;
    float: left;
    padding-right: 5px;
}
p.p3first-line{
    color: rgb(206, 20, 216);
    font-style: italic;
}
h1{
    text-shadow: 5px 5px;
}